<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Site Title</title>
  </head>
  <body>
    <div id="header">
    </div>

    <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}" id="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
